@charset "UTF-8";
* {
  margin: 0rem;
  padding: 0rem;
  font-family: "Roboto Mono";
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

*::selection {
  background-color: #fffb95;
  color: #222222;
}

body {
  background-color: #222222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* .social {
  position: fixed;
  top: 0;
  right: 5rem;
  width: 5rem;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 15;
  backdrop-filter: blur(50px);
  border-bottom-left-radius: $curve;
  border-bottom-right-radius: $curve;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  img {
    filter: invert(1);
    width: 30px;
    margin-top: 10px;
  }
} */
#fullscreen {
  position: fixed;
  bottom: 2.5rem;
  right: 5rem;
  z-index: 15;
  cursor: pointer;
}
#fullscreen img {
  filter: invert(1);
}

.year {
  font-size: 1.5rem;
  position: fixed;
  bottom: 5rem;
  left: 5rem;
  z-index: 15;
  font-weight: 200;
}

.description {
  position: fixed;
  width: 100vw;
  bottom: 5rem;
  left: 0;
  z-index: 15;
  animation: flash 2s infinite;
}
.description p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
}

#frame {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #ffffff;
}

#welcome {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  transition: opacity 1s ease-in-out;
}
#welcome .data {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#welcome .data .title {
  padding: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem);
  height: 30rem;
  width: 100rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
#welcome .data .title h2 {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  color: rgb(166, 166, 166);
}
#welcome .data .title h1 {
  font-size: 7rem;
  font-weight: 900;
  font-family: "Montserrat";
}
#welcome .data .buttons {
  width: 15rem;
  margin-left: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
#welcome .data .buttons button {
  transform: all 0.3s;
  color: #ffffff;
  font-size: 2.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-weight: 300;
}
#welcome .data .buttons button:hover {
  font-style: italic;
  color: #fffb95;
}
#welcome .data .social {
  height: 30rem;
  position: fixed;
  right: 0;
  z-index: 15;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
#welcome .data .social a img {
  filter: invert(1) opacity(0.8);
  width: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
#welcome .data .social a:last-child {
  transform: scale(1.5);
}
#welcome .data .social a :hover {
  transform: scale(1.5);
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#background video {
  width: 105%;
  filter: grayscale(100%);
}

.active {
  opacity: 0;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#beginning {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
#beginning h2 {
  font-size: 5vw;
  float: left;
  position: absolute;
  margin-left: 50px;
  top: calc(50vh - 50px);
  z-index: 5;
}
#beginning #text {
  display: inline-block;
  border-right: 0.1em solid #ffffff;
  animation: parpadeo 1s infinite;
}
#beginning #section {
  display: none;
  top: 41px;
  font-size: 26px;
  left: 395px;
}

.continue {
  position: fixed;
  bottom: 50px;
  left: calc(50vw - 50px);
  font-size: 18px;
  font-weight: 300;
  z-index: 5;
  opacity: 0;
}

@keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}
#about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 50px;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;
}
#about div h1 {
  position: absolute;
  bottom: 220px;
  font-weight: bolder;
  font-size: 64px;
  transition: transform 1s ease-in-out;
  width: fit-content;
  cursor: pointer;
  animation: none;
}
@keyframes change {
  0% {
    transform: scale(1) translateY(-275px);
  }
  50% {
    transform: scale(0.9) translateY(-310px);
  }
  100% {
    transform: scale(1) translateY(-275px);
  }
}
#about div h1::before {
  position: absolute;
  content: "César";
  color: transparent;
  transition: all 1s ease-in-out;
  transform-origin: 100% 0%;
}
#about div h1:hover::before {
  transform: rotateY(-180deg);
  color: hsla(58deg, 100%, 79%, 0.3);
}
#about div p {
  transition: all 1s ease-in-out;
  margin: 20px 0;
  width: 40vw;
  font-weight: lighter;
  opacity: 0;
}
#about div a {
  width: 150px;
  display: flex;
  color: #fffb95;
  font-size: 24px;
  padding: 5px 0;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#about div a img {
  transition: all 0.5s;
  filter: invert(1);
  width: 24px;
  margin-left: 10px;
}
#about div a:hover {
  font-weight: 600;
  color: #222222;
  box-shadow: inset 150px 0 0 0 #fffb95;
}
#about div a:hover img {
  filter: invert(0);
}
#about #profile {
  margin-left: 100px;
  width: 0%;
  max-width: 88vh;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
}

#curtain {
  border-radius: 50%;
  position: fixed;
  right: 50px;
  top: 50vh;
  width: 0%;
  max-width: 120vw;
  max-height: 120vw;
  background-color: #222222;
  box-shadow: 0px 0px 25px black;
  z-index: 2;
}

#skills {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
  padding: 0 50px;
  height: 70vh;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
  /* background-color: red; */
}
#skills #technologies {
  /* background-color: aqua; */
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 200px;
  transform: translateY(600px);
  /* &:hover {
      transform-origin: 100% 0%;
      transform: rotateX(-80deg); 
  } */
}
#skills #technologies div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* &::after {
      content: '_HTML5';
      position: absolute;
      font-size: 200px;

      font-weight: bolder;
      color: hsla(0, 0%, 33%, 0.3);
  } */
}
#skills #technologies h3 {
  font-size: 64px;
  text-align: end;
  margin-right: 50px;
}
#skills #technologies svg {
  fill: #fffb95;
  width: 200px;
  height: 200px;
}
#skills #back {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  transform: translateY(500px);
  z-index: -1;
}
#skills #back h3 {
  font-size: 200px;
  font-weight: bolder;
  color: hsla(0deg, 0%, 33%, 0.3);
}

/*# sourceMappingURL=styles.css.map */
