@charset "UTF-8";
* {
  margin: 0rem;
  padding: 0rem;
  font-family: "Roboto Mono";
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: #fffb95;
  color: #222222;
}

html {
  font-size: 10px;
}

body {
  background-color: #222222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#description {
  position: fixed;
  width: 100vw;
  bottom: 5rem;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 15;
  animation: flash 2s infinite;
}
#description p {
  font-size: 1.5rem;
  font-weight: 200;
}

#frame {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100vw;
  height: 100vh;
}

.active {
  opacity: 0;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: #ffffff;
}

#welcome {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #222222;
  transition: all 1s ease-in-out;
}
#welcome .data {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
#welcome .data .title {
  padding: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  backdrop-filter: blur(1rem);
  height: 30rem;
  width: 100rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
#welcome .data .title h2 {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Montserrat";
  color: rgb(166, 166, 166);
}
#welcome .data .title h1 {
  font-size: 7rem;
  font-weight: 900;
  font-family: "Montserrat";
}
#welcome .data .buttons {
  width: 15rem;
  margin-left: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
#welcome .data .buttons button {
  transform: all 0.3s;
  color: #ffffff;
  font-size: 2.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Roboto Mono";
  font-weight: 300;
}
#welcome .data .buttons button:hover {
  font-style: italic;
  color: #fffb95;
}
#welcome .data .social {
  height: 30rem;
  position: fixed;
  right: 0;
  z-index: 15;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}
#welcome .data .social a img {
  filter: invert(1) opacity(0.8);
  width: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
#welcome .data .social a:last-child {
  transform: scale(1.5);
}
#welcome .data .social a :hover {
  transform: scale(1.5);
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#background video {
  width: 105%;
  filter: grayscale(100%);
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#beginning {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
#beginning #text {
  position: absolute;
  font-size: 7rem;
  margin-left: 5rem;
  top: calc(50vh - 3.5rem);
  z-index: 5;
  border-right: 0.5rem solid #ffffff;
  animation: parpadeo 1s infinite;
}

@keyframes parpadeo {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FFFFFF;
  }
}
#about {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}
#about #data h1 {
  transform: translateY(5rem);
  position: absolute;
  top: calc(50vh - 3.5rem);
  font-weight: bolder;
  font-size: 7rem;
  width: fit-content;
}
#about #data h1::before {
  position: absolute;
  content: "César";
  color: transparent;
  transition: all 1s ease-in-out;
  transform-origin: 100% 0%;
}
#about #data h1:hover::before {
  transform: rotateY(-180deg);
  color: hsla(58deg, 100%, 79%, 0.3);
}
#about #data p {
  margin: 2rem 0;
  width: 40vw;
  font-weight: lighter;
  opacity: 0;
  font-size: 1.8rem;
  transform: translateY(5rem);
}
#about #data a {
  transform: translateY(5rem);
  width: 16rem;
  display: flex;
  color: #fffb95;
  font-size: 2.4rem;
  padding: 1rem 0;
  box-shadow: inset 0 0 0 0 transparent;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
#about #data a img {
  transition: filter 0.5s;
  filter: invert(1);
  width: 2.4rem;
  margin-left: 1.5rem;
}
#about #data a:hover {
  font-weight: 600;
  color: #222222;
  box-shadow: inset 16rem 0 0 0 #fffb95;
}
#about #data a:hover img {
  filter: invert(0);
}
#about #profile {
  margin-left: 10rem;
  width: 0%;
  border-radius: 50%;
  z-index: 3;
}

#curtain {
  border-radius: 50%;
  position: fixed;
  right: 50px;
  top: 50vh;
  width: 0%;
  max-width: 120vw;
  max-height: 120vw;
  background-color: #222222;
  box-shadow: 0px 0px 25px black;
  z-index: 2;
}

#skills {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
  padding: 0 5rem;
  height: 70vh;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
}
#skills #technologies {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20rem;
  transform: translateY(60rem);
}
#skills #technologies div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills #technologies h3 {
  font-size: 6rem;
  text-align: end;
  margin-right: 5rem;
}
#skills #technologies svg {
  fill: #fffb95;
  width: 20rem;
  height: 20rem;
}
#skills #back {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  transform: translateY(40rem);
  z-index: -1;
}
#skills #back h3 {
  margin-bottom: 0.5rem;
  font-size: 20rem;
  font-weight: bolder;
  color: hsla(0deg, 0%, 33%, 0.3);
}

#experiences {
  position: absolute;
  top: 15vh;
  left: 0;
  width: 100vw;
  padding: 0 5rem;
  height: 70vh;
  overflow: hidden;
  display: grid;
  transition: all 1s ease-in-out;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}
#experiences div {
  overflow: hidden;
  border-radius: 0.5rem;
}
#experiences div img {
  background-position: center;
  width: 100%;
  border-radius: 0.5rem;
}
#experiences div h3 {
  font-family: "Ubuntu";
  font-size: 20px;
  margin-top: 10px;
  font-weight: 100;
}
#experiences div div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#experiences div div div {
  transition: all 0.5s;
}
#experiences div div div img {
  margin-top: 10px;
  margin-right: 10px;
  width: 20px;
  filter: invert(1) opacity(0.5) saturate(0);
}
#experiences div div div:hover {
  margin-right: 50px;
}
#experiences div div div:hover::after {
  margin-right: 10px;
  transform: translateX(30px);
  opacity: 1;
}
#experiences div div .react:hover {
  margin-right: 90px;
}
#experiences div div .firebase:hover {
  margin-right: 90px;
}
#experiences div div .html::after {
  content: "HTML";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 0;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .sass::after {
  content: "SASS";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .js::after {
  content: "JavaScript";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .git::after {
  content: "Git";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .css3::after {
  content: "CSS3";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .react::after {
  content: "React Js";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .photoshop::after {
  content: "Photoshop";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}
#experiences div div .firebase::after {
  content: "Firebase";
  position: absolute;
  color: #777777;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: all 0.5s;
}

/*# sourceMappingURL=styles.css.map */
