@import "../variables.scss";

#about {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  #data {
    h1 {
      transform: translateY(5rem);
      position: absolute;
      top: calc(50vh - 3.5rem);
      font-weight: bolder;
      font-size: 7rem;
      width: fit-content;
    }
    h1::before {
      position: absolute;
      content: "César";
      color: transparent;
      transition: all 1s ease-in-out;
      transform-origin: 100% 0%;
    }
    h1:hover {
      &::before {
        transform: rotateY(-180deg);
        color: hsla(58, 100%, 79%, 0.3);
      }
    }
    p {
      margin: 2rem 0;
      width: 40vw;
      font-weight: lighter;
      opacity: 0;
      font-size: 1.8rem;
      transform: translateY(5rem);
    }
    a {
      transition: all 0.3s;
      transform: translateY(5rem);
      width: 21rem;
      display: flex;
      color: $primary;
      font-size: 2.4rem;
      padding: 1rem 0;
      img {
        transition: all 0.3s;
        filter: invert(1);
        width: 2.4rem;
        margin-left: 1.5rem;
      }
    }
    a::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 100%;
      bottom: 0;
      background-color: $primary;
      transition: all 0.3s;
      z-index: -1;
    }
    a:hover {
      font-weight: 600;
      color: $dark;
      img {
        filter: invert(0);
      }
      &::after {
        right: 0;
      }
    }
  }
  #profile {
    margin-left: 10rem;
    width: 0%;
    border-radius: 50%;
    z-index: 3;
  }
}
#curtain {
  border-radius: 50%;
  position: fixed;
  right: 50px;
  top: 50vh;
  width: 0%;
  max-width: 120vw;
  max-height: 120vw;
  background-color: $dark;
  box-shadow: 0px 0px 25px black;
  z-index: 2;
}
