@import "../variables.scss";

#beginning {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    h2 {
        font-size: 5vw;
        float:left;
        position: absolute;
        margin-left: 50px;
        top: calc(50vh - 50px);
        z-index: 5;
    }
    #text {
        display: inline-block;
        border-right: 0.1em solid $light;
        //padding-right: 5px;
        animation: parpadeo 1s infinite;
    }

    #section {
        display: none;
        top: 41px;
        font-size: 26px;
        left: 395px;
    }
    
}
.continue {
    position: fixed;
    bottom: 50px;
    left: calc(50vw - 50px);
    font-size: 18px;
        font-weight: 300;
        animation: flash 2s infinite;
        z-index: 5;
}

@keyframes parpadeo{
	from, to{border-color:transparent}
	50%{border-color:#FFFFFF}
}


