// VARIABLES

@import "variables";

// ESTILOS GLOBALES

* {
  margin: 0rem;
  padding: 0rem;
  font-family: $roboto;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $primary;
  color: $dark;
}

html {
  font-size: 10px;
}

body {
  background-color: $dark;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#instruction {
  position: fixed;
  width: 100vw;
  bottom: 5rem;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 15;
  animation: flash 2s infinite;
  p {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

#frame {
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.section {
  width: 100vw;
  height: 100vh;
}

.inactive {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $light;
}

.progress-bar {
  z-index: 20;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 5px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: $primary;
  border-radius: $curve;
}

// IMPORTACIONES PARCIALES

@import "./scss/welcome.scss";
@import "./scss/beginning.scss";
@import "./scss/about.scss";
@import "./scss/skills.scss";
@import "./scss/experiences.scss";
@import "./scss/contact.scss";

// RESPONSIVIDAD

@import "responsive";
