// VARIABLES

@import "variables";

// ESTILOS GLOBALES

* {
  margin: 0rem;
  padding: 0rem;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::selection {
  background-color: $primary;
  color: $dark;
}

body {
  background-color: $dark;
}

.social {
  position: fixed;
  top: 0;
  right: 50px;
  width: 50px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
  backdrop-filter: blur(50px);
  border-bottom-left-radius: $curve;
  border-bottom-right-radius: $curve;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  img {
    filter: invert(1);
    width: 30px;
    margin-top: 10px;
  }
}

#fullscreen {
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 10;
  cursor: pointer;
  img {
    filter: invert(1);
  }
}

.year {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 10;
}

#frame {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#container {
  width: 500vw;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.section {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: $light
}

// IMPORTACIONES PARCIALES 

@import "./scss/welcome.scss";
@import "./scss/beginning.scss";

// RESPONSIVIDAD

@import "responsive";