// COLORES

$primary: #fffb95;
$secondary: #5ec1a3;
$light: #ffffff;
$dark: #222222;
$placeholder: #777777;
$shadow: #000000;

//  BORDES

$curve: 0.5rem;

// DESENFOQUE

$blur: 1rem;

//FONTS

$roboto: "Roboto Mono";
$montserrat: "Montserrat";
$gochi: "Gochi Hand";
$josefin: "Josefin Sans";
$lobster: "Lobster";
$oswald: "Oswald";
$permanent: "Permanent Marker";
$playfair: "Playfair Display";
$ubuntu: "Ubuntu";
$vt323: "VT323";
