// COLORES

$primary: #29B88D;
$secondary: #1A755A;
$light: #ffffff;
$dark: #04110D;
$placeholder: #777777;
$shadow: #222222;

//  BORDES

$curve: 10px;

// DESENFOQUE

$blur: 10px;

// TIPOGRAFÍAS

$muli: 'Muli';

$inria: 'Inria Sans';

// MEDIDAS PÁGINA

$width: 80vw;
$navBarHeight: 100px;